@import "../../../styling/styling.css";

.root {
  width: var(--button-width-long);
  height: var(--button-height);
  color: white;
  outline: none;
  border: none;
  transition: var(--default-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.root.square {
  width: var(--button-width-square);
  border-radius: var(--border-radius-small) !important;
}

.root.square .textContainer {
  display: none;
}

.root.hasIcon.square > :first-child {
  margin: 0;
}

.root.rounded {
  border-radius: var(--border-radius-large);
}

.root.hasIcon > :first-child {
  margin-right: 10px;
}

.root:hover {
  cursor: pointer;
}

.root:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.root.primary {
  background-color: var(--primary);
}

.root.secondary {
  background-color: var(--secondary);
}

.root.success {
  background-color: var(--success);
}

.root.edit {
  background-color: var(--edit);
}

.root.destructive {
  background-color: var(--destructive);
}

.root.ghost {
  background-color: var(--white);
  border: 1px var(--secondary) solid;
}

.root.ghost p {
  color: var(--secondary) !important;
}

.root.word {
  background-color: transparent;
  width: auto;
  height: auto;
}

.root.word p {
  color: var(--primary) !important;
}

@media only screen and (min-width: 768px) {
  .root {
    width: var(--button-width-long);
  }

  .root .textContainer {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .root.primary:hover {
    background-color: var(--primaryHover);
  }

  .root.secondary:hover {
    background-color: var(--secondaryHover);
  }

  .root.success:hover {
    background-color: var(--successHover);
  }

  .root.edit:hover {
    background-color: var(--editHover);
  }

  .root.destructive:hover {
    background-color: var(--destructiveHover);
  }

  .root.ghost:hover {
    color: var(--secondaryHover) !important;
    border: 1px var(--secondaryHover) solid;
  }

  .root.ghost:hover p {
    color: var(--secondaryHover) !important;
  }
}
