@import "../../../styling/styling.css";

:root {
  --editbar-height: 80px;
  --editbar-width: 640px;
  --editbar-width-mobile: 100px;
  --editbar-height-mobile: 276px;
}

.root {
  position: fixed;
  top: 100vh;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  width: var(--editbar-width-mobile);
  height: var(--editbar-height-mobile);
  display: flex;
  flex-direction: column;
  border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
  z-index: 1;
  padding-top: var(--layout-medium);
  align-items: center;
  transition: var(--default-transition);
}

.root.visible {
  top: calc(100vh - var(--editbar-height-mobile));
}

.root .selected {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root .selected .selectedContainer {
  height: 35px;
  min-width: 40px;
  width: auto;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-large);
  margin: auto;
}

.root .selected .selectedCounter {
  display: none;
}

.root .actions {
  margin: var(--layout-small) auto 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

.root .actions button {
  margin-bottom: var(--layout-small);
}

@media only screen and (min-width: 768px) {
  .root {
    width: var(--editbar-width);
    height: var(--editbar-height);
    border-radius: var(--button-border-radius);
    left: calc(50% - calc(var(--editbar-width) / 2));
    flex-direction: row;
    padding: 0 30px;
  }

  .root.visible {
    top: calc(
      100vh -
        calc(var(--editbar-height) + var(--layout-medium) + var(--layout-large))
    );
  }

  .root .selected {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .root .selected .selectedContainer {
    margin-right: var(--layout-small);
  }

  .root .selected .selectedCounter {
    display: block;
  }

  .root .actions {
    flex-direction: row;
    margin: auto 0 auto auto;
  }

  .root .actions button {
    margin-left: var(--layout-medium);
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    left: calc(calc(50% + 130px) - calc(var(--editbar-width) / 2));
  }
}

