@import "../../../styling/styling.css";

.root {
    position: fixed;
    width: calc(100vw - calc(var(--layout-medium) * 2));
    height: calc(100vh - var(--layout-medium));
    top: 100vh;
    background-color: var(--white);
    z-index: 10;
    transition: var(--default-transition);
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    padding: var(--layout-medium);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.root h2 {
    font-size: var(--default-font-size-h4);
}

.root.active {
    display: flex;
    top: var(--layout-medium);
}

.root hr {
    border: 1px var(--grey4) solid;
    margin: var(--layout-small) 0 0 0;
}

.root .pageHeader {
    margin-bottom: var(--layout-medium);
}

.haze {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
    transition: var(--default-transition);
}

.haze.active {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {
    .root {
        left: var(--layout-medium);
        border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
        padding: var(--layout-large);
    }

    .root h2 {
        font-size: var(--default-font-size-h2);
    }
}

@media only screen and (min-width: 1200px) {
    .root {
        width: 900px;
        left: calc(50vw - 450px);
    }
}