@import "./themes/defaultTheme/defaultTheme.css";
/* @import "./themes/brandTheme/brandTheme.css"; */

:root {
  /* Colours ----------------------------------------------------------------------------*/
  --primary: var(--blue);
  --primaryHover: var(--darkBlue);
  --secondary: var(--black);
  --secondaryHover: var(--darkGrey);
  --success: var(--green);
  --successHover: var(--darkGreen);
  --edit: var(--orange);
  --editHover: var(--darkOrange);
  --warning: var(--yellow);
  --destructive: var(--red);
  --destructiveHover: var(--darkRed);
  --ghost: var(--white);
  --default-typography-colour: var(--black);

  --border-inactive: var(--grey5);
  --border-active: var(--primary);

  /* Font ----------------------------------------------------------------------*/

  /* Families */
  --default-font-heading: var(--themed-font-heading);
  --default-font-paragraph: var(--themed-font-paragraph);
  --default-font-mono: var(--themed-font-mono);

  /* Sizes */
  --default-font-size-h1: var(--themed-font-size-h1);
  --default-font-size-h2: var(--themed-font-size-h2);
  --default-font-size-h3: var(--themed-font-size-h3);
  --default-font-size-h4: var(--themed-font-size-h4);
  --default-font-size-h5: var(--themed-font-size-h5);
  --default-font-size-h6: var(--themed-font-size-h6);
  --default-font-size-paragraph: var(--themed-font-size-paragraph);

  /* Weight */
  --black-font-weight-heading: 949;
  --medium-font-weight-heading: 500;

  /* Animation ---------------------------------------------------------------------------*/
  --default-transition: var(--themed-transition-duration-default)
    var(--themed-transition-timing-function);
  --fast-transition: var(--themed-transition-duration-fast)
    var(--themed-transition-timing-function);

  /* Sizes -------------------------------------------------------------------------------*/
  --icon-size: var(--themed-icon-size);
  --button-height: var(--themed-button-height);
  --button-border-radius: var(--themed-button-border-radius);
  --button-width-square: var(--button-height);
  --button-width-long: 150px;

  /* Layout ------------------------------------------------------------------------------*/
  --layout-small: var(--themed-layout-small);
  --layout-medium: var(--themed-layout-medium);
  --layout-large: var(--themed-layout-large);
  --layout-extra-large: var(--themed-layout-extra-large);

  --border-radius-extra-small: var(--themed-border-radius-extra-small);
  --border-radius-small: var(--themed-border-radius-small);
  --border-radius-medium: var(--themed-border-radius-medium);
  --border-radius-large: var(--themed-border-radius-large);
  --border-radius-extra-large: var(--themed-border-radius-extra-large);
}
