@import "../../../styling/styling.css";

:root {
  --checkbox-active-background: var(--border-active);
  --checkbox-size: 18px;
  --checkmark-width: 3px;
  --checkmark-height: calc(var(--checkmark-width) * 2);
}

/* The container */
.root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: calc(calc(50px - var(--checkbox-size)) / 2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .root input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    display: block;
    border-radius: var(--border-radius-extra-small);
    background-color: var(--white);
    border: 1px var(--border-inactive) solid;
    transition: var(--fast-transition);
  }
  
  /* On mouse-over, add a grey background color */
  .root:hover input ~ .checkmark {
    border: 1px var(--border-active) solid;
  }
  
  /* When the checkbox is checked, add a blue background */
  .root input:checked ~ .checkmark {
    background-color: var(--checkbox-active-background);
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .root input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .root .checkmark:after {
    left: 6.7px;
    top: 3.5px;
    width: var(--checkmark-width);
    height: var(--checkmark-height);
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }