@import "../../../styling/styling.css";

.root {
    background-color: var(--white);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
}

.root:hover {
    background-color: var(--grey6);
    cursor: pointer;
}

.root.selected {
    background-color: var(--grey6);
}

.root.invisible {
    display: none;
}

.tablerowItems:first-child {
    width: 50%;
}

.root .tablerowItemContainer {
    width: 25%;
}

.tablerowItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 14px;
    margin: auto 0;
    padding: calc(calc(50px - 15px) / 2);
    padding-left: 0;
}