@import "../../../styling/styling.css";

.root {
    background-color: var(--white);
    width: calc(100% - 25px);
    margin-right: 25px;
    height: 50px;
    display: flex;
}

.root:hover {
    background-color: var(--grey6);
    cursor: pointer;
}

.root.divider {
    border-bottom: 1px var(--grey5) solid;
}

.root.selected {
    background-color: var(--grey6);
}

.root.invisible {
    display: none;
}

.root .tablerowItems > :first-child {
    width: 50%;
}

.root .tablerowItemContainer {
    width: calc(50% / 3);
    white-space: nowrap;
    padding-right: 30px;
}

.tablerowItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 14px;
    margin: auto 0;
    padding: calc(calc(50px - 15px) / 2);
    padding-left: 0;
}