@import "../../../styling/styling.css";

.root {
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--layout-extra-large) var(--layout-medium);
  background-color: black;
  opacity: 0;
  backdrop-filter: blur(8px);
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  transition: var(--default-transition);
}

.root.active {
  z-index: 2;
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
}

.root .brandLogo {
  margin-bottom: var(--layout-extra-large);
  width: auto;
  height: auto;
  max-width: 200px;
  overflow: hidden;
}

.root .brandLogo img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: var(--layout-small);
}

.root .pageLinks h5 {
  color: var(--grey1);
  margin-bottom: var(--layout-medium);
}

.root .pageLinks .logoutLink h5 {
  color: var(--destructive);
}

.root .pageLinks .logoutLink h5:hover {
  cursor: pointer;
  color: var(--destructiveHover);
}

.root .pageLinks .pageLink {
  color: var(--grey1);
  transition: var(--fast-transition);
}

.root .pageLinks .pageLink.active h5 {
  color: var(--white);
}

.root button {
  margin-top: auto;
}

@media only screen and (min-width: 1200px) {
  .root {
    display: flex;
    position: relative;
    opacity: 1;
    z-index: 2;
    width: 300px;
    padding: var(--layout-large) var(--layout-large) var(--layout-large)
      var(--layout-medium);
  }

  .root .pageLinks .pageLink :hover {
    color: var(--white);
  }
}
