@import "../../../styling/styling.css";

:root {
  /* scrollbar */
  --scrollbar-width: 4px;
}

.root {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.root .tableHeader {
  width: calc(100% - calc(var(--layout-medium) + var(--scrollbar-width)));
  margin-right: calc(var(--layout-medium) + var(--scrollbar-width));
  height: auto;
  display: flex;
  height: 50px;
  border-bottom: 1px var(--border-inactive) solid;
  background-color: var(--white);
}

.root .tableHeaderItems {
  width: 100%;
  height: 100%;
  line-height: var(--default-font-size-paragraph);
  display: flex;
  justify-content: space-between;
  padding: calc(calc(50px - 15px) / 2);
  padding-left: 0;
}

.root .tableHeaderItems > * {
  width: 100%;
}

.root .tableContent {
  overflow-y: scroll;
  width: 100%;
  /* height: calc(var(--height-container-mobile) - var(--content-above-tableContent)); */
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.root .tableContent > :last-child {
  border-bottom: none;
}

/* Scrollbar --------------------------------------------------------------------------------*/
/* width */
.root .tableContent::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
.root .tableContent::-webkit-scrollbar-track {
  background: var(--border-inactive);
  border-radius: var(--border-radius-small);
}

/* Handle */
.root .tableContent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--border-radius-small);
}

/* Handle on hover */
.root .tableContent::-webkit-scrollbar-thumb:hover {
  background: var(--darkBlue);
}

@media only screen and (min-width: 768px) {
  .root .tableContent {
    height: calc(var(--height-container) - var(--content-above-tableContent));
  }

  .root .tableHeaderItems > :first-child {
    width: 70%;
  }

  .root .tableHeaderItems > * {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .root .tableHeaderItems > :first-child {
    width: 50%;
  }

  .root .tableHeaderItems > * {
    width: calc(50% / 3);
  }
}
