@import "../../../styling/styling.css";

:root {
  --container-padding: 50px;
  --height-container: calc(calc(100vh - 50px) - var(--container-padding));
  --height-actions: 50px;
}

.root {
  width: 100%;
  height: 100%;
}

.root .tableHeader {
  width: calc(100% - 29px);
  margin-right: 29px;
  height: auto;
  display: flex;
  height: 50px;
  border-bottom: 1px var(--grey5) solid;
  background-color: var(--white);
}

.root .tableHeaderItems {
  width: 100%;
  height: 100%;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  padding: calc(calc(50px - 15px) / 2);
  padding-left: 0;
}

.root .tableHeaderItems > :first-child {
  width: 50%;
}

.root .tableHeaderItems > * {
  width: calc(50% / 3);
}

.root .tableContent {
  overflow: scroll;
  width: 100%;
  height: calc(calc(var(--height-container) - var(--height-actions)) - 200px);
}

.root .tableContent > :last-child {
  border-bottom: none;
  margin-bottom: 25px;
}

/* width */
.root .tableContent::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.root .tableContent::-webkit-scrollbar-track {
  background: var(--grey5);
  border-radius: 10px;
}

/* Handle */
.root .tableContent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
.root .tableContent::-webkit-scrollbar-thumb:hover {
  background: var(--darkBlue);
}

.root .tableContent {
  overflow-x: hidden;
}
