.App {
  display: flex;
}

.App .mainContent {
  background-color: white;
  height: 100vh;
  width: 100%;
  padding: var(--layout-medium);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .App {
    padding: var(--layout-medium);
  }

  .App .mainContent {
    height: calc(100vh - calc(var(--layout-medium) * 2));
    border-radius: var(--border-radius-large);
    padding: var(--layout-large);
  }
}
